table,
tr,
td,
th {
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
}




























/* .list {
    background-color: pink;
    border: 2px solid red;
    border-radius: 10px;

}

body {}

h1 {
    font-family: "Big Shoulders Stencil", sans-serif;
}

.block {
    font-family: "Emblema One", system-ui;
    width: 800px;
    border: 2px solid blue;
    border-radius: 10px;
} */